@font-face{
    font-family: 'CustomFont';
    src: url('./font/Nunito/static/Nunito-Bold.ttf') format('truetype'),
        url('./font/Nunito/static/Nunito-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  *{
    margin: 0;
    padding: 0;
  }

  body{
    font-family: 'CustomFont' !important;
  }